<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1 class="form-title">Add some criteria</h1>

      <%= simple_form_for [@user, @criterium] do |f| %>
        <%= f.input :gender %>
        <%= f.input :age, collection: 18..60, input_html: { multiple: true } %>
        <%= f.input :localisation %>
        <div class="d-flex justify-content-center">
          <%= f.submit "Mettre à jour mes critères", class: "btn btn-flat form-green"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
