<div class="small-box messenger-list messenger-font">
  <% if message.user == user %>
    <!-- Colonne droite - msgs envoyés -->
    <% unless message.picture.url.nil? %>
      <li class="messenger-photo right-photo-user">
        <%= cl_image_tag message.picture, width: 240, height: 180, crop: :fill%>
      </li>
    <% end %>
    <li class="right-paragraph"><%= message.content %></li>
  <% else %>
    <!-- Colonne gauche - msgs reçus - flouté si lu - logo pour lecture non lus -->
    <% unless message.picture.url.nil? %>
      <li class="messenger-photo left-photo-user">
        <% if message.seen && false %>
          <%= cl_image_tag message.picture, width: 240, height: 180, :background=>"#110e0e", :effect=>"blur:700", :opacity=>67, crop: :fill%>
        <% else %>
          <!-- Photo non vue : floutée et logo en sur impression -->
          <%= link_to message_picture_seen_path(message_id: message), method: :patch, remote: true do  %>
            <div id="photo-id<%= message.id %>" >
              <%= cl_image_tag message.picture, :transformation=>[
              {:effect=>"blur:700", :height=>180, :opacity=>67, :quality=>100, :width=>240, :crop=>"scale"},
              {:color=>"#ffffff", :gravity=>"center", :overlay=>"fetish_logo", :width=>48, :x=>90, :y=>60, :crop=>"limit"}], data: { toggle: "modal", target: "#photo-Modal#{message.id}"} %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="left-paragraph"><%= message.content %></li>
  <% end %>
  <h8 class="d-flex justify-content-center small mb-1">
  <%= message.created_at.strftime("%b %-d %Y, %H:%M") %>
  <!-- else, si message cree il y a moins d'un jour :hh, mm -->
  <!-- genre daytime.now - daytime.message -->
  <!-- if/else si ce sont des messages qui de la meme personne qui se suivent, ne pas afficher le temps entretemps -->
  </h8>

  <!-- Bootstrap - Modal affichage de la photo - id suffixé par l'id de la photo - autant de modal que de photo ...-->
  <div class="modal modal_fade" id="photo-Modal<%= message.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="content">
        <div class="header">
        </div>
        <div class="modal-picture-center">
          <%= cl_image_tag message.picture, :transformation=>[
              {:quality=>100, :width=>320, :crop=>"fill"}] %>
        </div>
      </div>
    </div>
  </div>
</div>

