<div>
  <% if @user.user_fetishes.empty? %>
    <div class="container text-center">
      <%= link_to "Back to dashboard", dashboard_path, class:"btn btn-outline-danger text-center my-2 mx-auto" %>
      <h3 class="m-4">Vous n'avez pas encore ajouté de fétiches.</h3>
      <h4 class="m-4">On y va ?</h4>
      <%= link_to "Ajouter mes fétiches", new_user_user_fetish_path, class:"btn-home" %>
    </div>
  <% elsif @user_fetish %>
    <div class="container">
      <%= link_to "Back to dashboard", dashboard_path, class:"btn btn-outline-danger text-center my-2 mx-auto" %>
      <div class="user-fetishes text-center">
        <div class="title">
          <h4 class="my-3">Mes fétiches</h4>
          <%= link_to "Ajouter d'autres fétiches", new_user_user_fetish_path, class:"btn-home" %>
        </div>
        <div class="my-3 d-flex justify-content-center flex-wrap">
          <% @user.user_fetishes.each do |user_fetish| %>
            <div class="clickable my-3">
              <%= image_tag user_fetish.fetish.image, width: 30, height: 30, crop: :fill %>
              <p><%= user_fetish.fetish.name %></p>
              <%= link_to user_user_fetish_path(@user, user_fetish), method: :delete, data: { confirm: "Are you sure?" }, class:"p-2" do %><i class="fas fa-trash fa-1x trash" style="color:#878C8D"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="nav_bottom d-flex align-items-center justify-content-around border-top">

    <%= link_to dashboard_path do %><i class="fas fa-user fa-2x py-3" style="color:#4ecdc4"></i><% end %>

    <%= link_to random_path do %><i class="fas fa-feather-alt fa-2x py-3"></i><% end %>

    <% if !current_user.matches.empty? %>
      <% if current_user.match_as_u1.where(checked_by_u1: false).size > 0 || current_user.match_as_u2.where(checked_by_u2: false).size > 0 %>
        <%= link_to match_messages_path(current_user, @user_last_match), class: "the-bell" do %>
          <div id="bell" class="animated infinite tada"><i class="fas fa-heart fa-2x py-3"></i></div></%><% end %>
      <% else %>
        <%= link_to match_messages_path(current_user, @user_last_match) do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
      <% end %>
    <% else %>
      <%= link_to random_path do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
    <% end %>

    <%= link_to root_path do %><i class="fas fa-home fa-2x py-3"></i><% end %>
  </div>
<% end %>
