<div style="padding-bottom: 50px;">
  <% if @user.user_fetishes.empty? %>
    <div class="container text-center">
      <%= link_to "Back to dashboard", dashboard_path, class:"btn btn-outline-danger text-center my-2 mx-auto" %>
      <h3 class="m-4">Vous n'avez pas encore ajouté de fétiches.</h3>
      <h4 class="m-4">On y va ?</h4>
      <%= link_to "Ajouter mes fétiches", new_user_user_fetish_path, class:"btn-home" %>
    </div>
  <% elsif @user_fetish %>
    <div class="container">
      <%= link_to "Back to dashboard", dashboard_path, class:"btn btn-outline-danger text-center my-2 mx-auto" %>
      <div class="user-fetishes text-center">
        <div class="title">
          <h4 class="my-4">Mes fétiches</h4>
          <%= link_to "Ajouter d'autres fétiches", new_user_user_fetish_path, class:"btn-home" %>
        </div>
        <!-- <div class="my-5 d-flex justify-content-center flex-wrap"> -->
        <div class="fetishes-list">
          <% @user.user_fetishes.each do |user_fetish| %>
            <div class="clickable">
              <div class="clickable-content">
                <%= image_tag user_fetish.fetish.image, width: 30, height: 30, crop: :fill %>
                <p><%= user_fetish.fetish.name %></p>
              </div>
              <%= link_to user_user_fetish_path(@user, user_fetish), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash fa-1x trash" style="color:#878C8D"></i>
              <% end %>
            </div>
          <% end %>

        </div>

      </div>
    </div>
  <% end %>
</div>
