
    <div class="container">
      <h2 class="form-title">Ajouter mes fétiches</h2>

      <%= simple_form_for [@user, @user_fetish] do |f| %>
      <div class="fetish-choices">
        <% Fetish.all.each do |fetish|  %>
          <input  type="checkbox" class="hidden" value="<%=fetish.id%>" name="user_fetish[fetish_id][]" id="user_fetish_fetish_id_<%=fetish.id%>" multiple>
          <label class="fetish-choice <%= "active" if current_user.fetishes.include?(fetish) %>" for="user_fetish_fetish_id_<%= fetish.id %>">
            <%= image_tag fetish.image, width: 30, height: 30, crop: :fill %>
            <div>
            <%= fetish.name %>
            </div>
          </label>
        <% end %>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "Mettre à jour mes fétiches", class: "btn-home m-4"%>
        </div>
      <% end %>
    </div>




