<div id="dashboard" style="padding-bottom: 100px;">
  <ul class="list-inline tabs-underlined p-2 d-flex justify-content-center align-items-center">
    <li>
        <a href="#" id="profil_btn" class="tab-underlined active">Profil</a>
    </li>
    <li>
        <a href="#" id="criteres_btn"class="tab-underlined">Critères</a>
    </li>
    <li>
        <a href="#" id="fetiches_btn"class="tab-underlined">Fétiches</a>
    </li>
  </ul>

  <div id="profil">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1 pl-4 py-2">
          <div class="user-infos">
            <div class="title d-flex align-items-center border-bottom py-2">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar, width: 90, height:90, crop: :fill, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag "user-circle-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <h4 class="px-2"><%= @user.user_name %> - <%= ((Time.zone.now - @user.birth_date.to_time) / 1.year.seconds).floor %> ans</h4>
            </div>
            <div class="content py-2">
              <p class="text-center"><em>"<%= @user.description %>"</em></p>
            </div>
            <% if @criterium.nil? %>
              <p>Vous n'avez pas encore de critères !</p>
              <p><%= link_to "En ajouter ?", new_user_criterium_path(@user), class:"btn btn-home" %></p>
            <% else %>
              <div class="card-product criteria d-flex align-items-center pr-2">
                <% if @criterium.gender == "Homme" %>
                  <img src="https://previews.123rf.com/images/martialred/martialred1605/martialred160500002/56300924-ic%C3%B4ne-homme-ou-salle-de-bains-signe-de-toilettes-des-hommes-plat-pour-les-applications-et-les-sites-web.jpg" class="p-3">
                <% elsif @criterium.gender == "Femme" %>
                  <img src="https://cdn.icon-icons.com/icons2/510/PNG/512/woman_icon-icons.com_49954.png" alt="" class="p-3">
                <% end %>
                <div class="card-product-infos">
                  <p>
                    Je suis intéressé(e) par les <%= @criterium.gender.downcase %>s qui habitent près de <%= @criterium.localisation %> et qui ont <%= @criterium.age %> ans.
                  </p>
                </div>
                <%= link_to user_criteria_path(@user) do %>
                  <i class="fas fa-pencil-alt fa-1x" style="color:#61D095"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-flex flex-column pr-4 col-lg-6 border-left">
          <div class="user-fetishes">
            <div class="title d-flex justify-content-center p-3">
              <h4 class="px-3">Mes fétiches</h4>
              <% if @user.user_fetishes.empty? %>
              <% else %>
                <%= link_to user_user_fetishes_path(@user) do %>
                  <i class="fas fa-pencil-alt fa-1x" style="color:#61D095"></i>
                <% end %>
              <% end %>
            </div>
            <% if @user.user_fetishes.empty? %>
              <p class="px-3">Vous n'avez pas encore de fétiches !</p>
              <p><%= link_to "En ajouter ?", new_user_user_fetish_path(@user), class:"btn btn-home" %></p>
            <% else %>
              <div class="content-fetishes">
                <% @user.user_fetishes.each do |user_fetish| %>
                  <div class="clickable mx-auto">
                    <%= image_tag user_fetish.fetish.image, width: 30, height: 30, crop: :fill %>
                    <small><%= user_fetish.fetish.name %></small>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="criteres" class="disappear">
    <div>
      <% if @criterium.nil? %>
        <div class="container text-center p-5 m-5">
          <h3 class="m-4">Vous n'avez pas encore ajouté de critères.</h3>
          <h4 class="m-4">On y va ?</h4>
          <%= link_to "Ajouter mes critères", new_user_criterium_path(@user), class:"btn-home" %>
        </div>
      <% else %>
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="contenu col-12 col-lg-6 py-2">
            <div class="card-product pr-2">
              <% if @criterium.gender == "Homme" %>
                <img src="https://previews.123rf.com/images/martialred/martialred1605/martialred160500002/56300924-ic%C3%B4ne-homme-ou-salle-de-bains-signe-de-toilettes-des-hommes-plat-pour-les-applications-et-les-sites-web.jpg" class="p-3">
              <% elsif @criterium.gender == "Femme" %>
                <img src="https://cdn.icon-icons.com/icons2/510/PNG/512/woman_icon-icons.com_49954.png" alt="" class="p-3">
              <% end %>
              <div class="card-product-infos">
                <h2>
                  Je suis intéressé(e) par les <%= @criterium.gender.downcase %>s qui habitent près de <%= @criterium.localisation %> et qui ont <%= @criterium.age %> ans.
                </h2>
              </div>
            </div>
          </div>
          <div class="contenu col-12 col-lg-6">
            <h2 class="form-title text-center">Modifier mes critères</h2>
            <%= simple_form_for [@user, @criterium] do |f| %>
              <%= f.input :gender, collection: ["Homme", "Femme"] %>
              <%= f.input :age, collection: 18..60 %>
              <%= f.input :localisation %>
              <div class="d-flex justify-content-center">
                <%= f.submit "Mettre à jour mes critères", class: "btn-home m-4"%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>

  <div id="fetiches" class="disappear">
    <div>
      <% if @user_fetishes.empty? %>
        <div class="container text-center">
          <%= link_to "Back to dashboard", dashboard_path, class:"btn btn-outline-danger text-center my-2 mx-auto" %>
          <h3 class="m-4">Vous n'avez pas encore ajouté de fétiches.</h3>
          <h4 class="m-4">On y va ?</h4>
          <%= link_to "Ajouter mes fétiches", new_user_user_fetish_path(@user, @user_fetish), class:"btn-home" %>
        </div>
      <% else %>
        <div class="container">
          <div class="user-fetishes text-center">
            <div class="title">
              <h4 class="my-3">Mes fétiches</h4>
              <%= link_to "Ajouter d'autres fétiches", new_user_user_fetish_path(@user, @user_fetish), class:"btn-home" %>
            </div>
            <div class="content-fetishes-index my-3 d-flex justify-content-center flex-wrap">
              <% @user.user_fetishes.each do |user_fetish| %>
                <div class="clickable my-3">
                  <%= image_tag user_fetish.fetish.image, width: 30, height: 30, crop: :fill %>
                  <small><%= user_fetish.fetish.name %></small>
                  <%= link_to user_user_fetish_path(@user, user_fetish), method: :delete, data: { confirm: "Are you sure?" }, class:"p-2" do %><i class="fas fa-trash fa-1x" style="color:#439775"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="nav_bottom d-flex align-items-center justify-content-around border-top">
    <%= link_to root_path do %><i class="fas fa-home fa-2x py-3"></i><% end %>
    <%= link_to random_path do %><i class="fas fa-feather-alt fa-2x py-3"></i><% end %>

    <% if !current_user.matches.empty? %>
      <% if current_user.match_as_u1.where(checked_by_u1: false).size > 0 || current_user.match_as_u2.where(checked_by_u2: false).size > 0 %>
        <%= link_to match_messages_path(current_user, @user_last_match), class: "the-bell" do %>
          <div id="bell" class="animated infinite tada"><i class="fas fa-heart fa-2x py-3"></i></div></%><% end %>
      <% else %>
        <%= link_to match_messages_path(current_user, @user_last_match) do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
      <% end %>
    <% else %>
      <%= link_to random_path do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
    <% end %>
    <%= link_to dashboard_path do %><i class="fas fa-user fa-2x py-3" style="color:#4ecdc4"></i><% end %>
  </div>
<% end %>
