
<div id="swipe" class="random" data-user-id="<%= @user&.id %>">
  <div id="not-to-be-seen-left"></div>
  <!-- <div style="width: 30px; height: 30px; background:red;"></div> -->
  <div class="card-trip random">
    <% if @user == nil %>
    <div class="lonely">
      <h6>Aucun utilisateur ne correspond à votre recherche... 😢</h6>
      <%= image_tag "lonely.jpg", width: 200, height: 200, crop: :fill, class:"animated swing"%>
      <h6>Modifiez vos critères ou rééssayez prochainement.</h6>
    </div>
    <% else %>
       <div class="fetish_card">
          <%= image_tag @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:image], width: 25, height: 50,  data: {toggle: "tooltip", placement: "top"}, class:"avatar-square"%>
          <small class="precision-fetish"> <%= @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:name]%> </small>
          <% if (@user.fetishes.count - 1) == 0 %>
              <p></p>
          <% elsif (@user.fetishes.count -1)  == 1 %>
           <%= image_tag "question.jpg" %>
               <small><%= @user.fetishes.count -1 %> autre fetiche </small>
          <% else %>
          <%= image_tag "question.jpg", width: 35, height: 35,  data: {toggle: "tooltip", placement: "top"}, class:"question" %>
               <small><%= @user.fetishes.count -1 %> autres fetiches </small>
          <% end %>
        </div>
          <div class="user_random">
            <!-- <div id="not-to-be-seen-left"></div> -->
            <span id="test-js"></span>
            <h2><%=@user.user_name%></h2>
            <%= image_tag @user.avatar %>
            <div class="card-trip-infos">
              <p class="user_description"><%=@user.description%></p>
            </div>
            <div class="choice">
              <button class="btn btn-no"><%= link_to "No",user_decline_path(user_id: @user.id), method: :patch %></button>
              <button class="btn btn-ok"><%= link_to "Ok", user_accept_path(user_id: @user.id),  method: :patch, remote: true %></button>
            </div>
           <!--  <div id="not-to-be-seen-right"></div> -->
          </div>
    <% end %>
  </div>
   <div id="not-to-be-seen-right"></div>
<!--   <div style="width: 30px; height: 30px; background:red;"></div> -->
</div>

