<div id="<%= 'swipe' if @user %>" class="random" data-user-id="<%= @user&.id %>">
  <div id="not-to-be-seen-left"></div>
  <div id="contains-swipe-card">
    <% if @user == nil %>
      <div class="card-trip random">
        <div class="lonely">
          <h6>Aucun utilisateur ne correspond à votre recherche... 😢</h6>
        <%= image_tag "lonely.jpg", width: 200, height: 200, crop: :fill, class:"animated swing"%>
        <h6>Modifiez vos critères ou rééssayez prochainement.</h6>
        <% if current_user.matches.empty? %>
        <%= link_to "Modifier mes critères", dashboard_path, class: "btn-home" %>
        <% else %>
        <% end %>
      </div>
        <div class="d-flex justify-content-center align-items-center">
          <%= link_to "Modifier mes critères", dashboard_path, class: "btn-home w-50", style:"font-size: 21px;font-family: 'Signika', sans-serif;"%>
          <%= link_to "Voir mes messages", match_messages_path(current_user, @user_last_match), class: "btn-log w-50", style:"font-size: 21px;font-family: 'Signika', sans-serif;" %>
        </div>
    <% else %>
      <div class="card-trip random">
        <div class="fetish_card">
          <%= image_tag @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:image], width: 25, height: 50,  data: {toggle: "tooltip", placement: "top"}, class:"avatar-random"%>
          <small class="precision-fetish"> <%= @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:name]%> </small>
        </div>
        <div class="user_random">
          <h2><%=@user.user_name%></h2>
          <%= image_tag @user.avatar %>
          <div class="card-trip-infos">
            <p class="user_description"><%=@user.description%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="not-to-be-seen-right"></div>
</div>

<% unless @user == nil %>
  <div class="choice d-flex align-items-center justify-content-center">
    <%= link_to user_decline_path(user_id: @user.id) do %><i class="far fa-times-circle fa-4x px-5 pt-3", style="color:#FA8072"></i><% end %>
    <%= link_to user_accept_path(user_id: @user.id), id: "accept-button", remote: true do %>
      <i class="fas fa-heart fa-4x px-5 pt-3", style="color:#4ecdc4"></i>
    <% end %>
  </div>
<% end %>


