
<div class="container random">
  <div class="card-trip random">
    <% if @user == nil %>
    <div class="lonely">
      <h6>Aucun utilisateur ne correspond à votre recherche... 😢 </h6>
      <%= image_tag "lonely.jpg" %>
      <h6>Modifiez vos critères ou rééssayez prochainement.</h6>
      </div>
    <% else %>
      <div class="d-flex">
          <div class="avatar-square">
            <%= image_tag @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:image], width: 25, height: 50,  data: {toggle: "tooltip", placement: "top"}, title: @user.fetishes.where(fetishes: { name: current_user.fetishes.pluck(:name)}).order("RANDOM()").first[:name]%>
            <% if (@user.fetishes.count - 1) == 0 %>
              <p></p>
            <% elsif (@user.fetishes.count -1)  == 1 %>
               <small><%= @user.fetishes.count -1 %> autre fetiche </small>
            <% else %>
               <small><%= @user.fetishes.count -1 %> autres fetiches </small>
            <% end %>
          </div>
          <div class="container">
            <h2><%=@user.user_name%></h2>
            <%= image_tag @user.avatar %>
            <div class="card-trip-infos">
              <p class="user_description"><%=@user.description%></p>
            </div>
            <div class="choice">
              <button class="btn btn-no"><%= link_to "No",user_decline_path(user_id: @user.id), method: :patch %></button>
              <button class="btn btn-ok"><%= link_to "Ok", user_accept_path(user_id: @user.id),  method: :patch, remote: true %></button>
            </div>
          </div>
          <div class="ajustement">  </div>
    </div>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="match-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"> Nouvelle affinité !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= image_tag "spangle.gif", height: 50 %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"><%= link_to "Envoyer un message", match_messages_path(@user[:id])  %> </button>
            <button type="button" class="btn btn-primary"><%= link_to "Continuer à chercher", random_path %> </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

