<% if user_signed_in? %>
<div class="nav_bottom d-flex align-items-center justify-content-around border-top">
  <%= link_to dashboard_path do %><i class="fas fa-user fa-2x py-3" style="color:#FA8072"></i><% end %>
  <%= link_to random_path do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
  <%= link_to matches_path do %><i class="fas fa-bell fa-2x py-3"></i><% end %>
  <%= link_to root_path do %><i class="fas fa-home fa-2x py-3"></i><% end %>
  <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-power-off fa-2x"></i><% end %>
</div>
<% end %>
