<div class="home" style="padding-bottom: 100px;">
  <div class="banner">
    <div class="container text-center">
      <div class="mb-4">
        <h1>Une envie, un fétiche ?</h1>
        <h2>Rencontrez les bonnes personnes...</h2>
      </div>

      <% if user_signed_in? %>
      <div class="mt-5">
          <%= link_to "Rechercher un profil", random_path, class:"btn-home" %>
      <% else %>
           <%= link_to "Sign up", new_user_registration_path, class:"btn-home" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="container text-center py-3">
    <h3>Nos garanties</h3>
  </div>

  <div class="container py-3">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502367448277-82e29b176948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
        Anonymat
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514302240736-b1fee5985889?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80)">
        Sécurité
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523934882174-f3ebf13fa331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
        Respect
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="nav_bottom d-flex align-items-center justify-content-around border-top">
    <%= link_to root_path do %><i class="fas fa-home fa-2x py-3" style="color:#4ecdc4"></i><% end %>
    <%= link_to random_path do %><i class="fas fa-feather-alt fa-2x py-3"></i><% end %>

    <% if !current_user.matches.empty? %>
      <% if current_user.match_as_u1.where(checked_by_u1: false).size > 0 || current_user.match_as_u2.where(checked_by_u2: false).size > 0 %>
        <%= link_to match_messages_path(current_user, @user_last_match), class: "the-bell" do %>
          <div id="bell" class="animated infinite tada"><i class="fas fa-heart fa-2x py-3"></i></div></%><% end %>
      <% else %>
        <%= link_to match_messages_path(current_user, @user_last_match) do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
      <% end %>
    <% else %>
      <%= link_to random_path do %><i class="fas fa-heart fa-2x py-3"></i><% end %>
    <% end %>
    <%= link_to dashboard_path do %><i class="fas fa-user fa-2x py-3" style="color:#FA8072"></i><% end %>
  </div>
<% end %>
